
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d22fe735f3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Чат</title>
</head>
<body>
    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/get",
                success: function(response){
                    console.log(response);
                    $("#MessagesBlock").empty();
                    for (var key in response.messages)
                    {
                        var messageLine=`<p title='${ new Date(response.messages[key].sendDate).toLocaleString() }'>
                            [${ new Date(response.messages[key].sendDate).toLocaleTimeString() }] ${response.messages[key].username}: ${response.messages[key].text}
                        </p>`;
                        $("#MessagesBlock").append(messageLine);
                    }
                },
            });
        }, 500);
        })
    </script>
    <form>
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Ваше имя">
        <input type="text" id="text" name="text" placeholder="Сообщение">
        <button type="submit">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </form>
    <div id="MessagesBlock" class=""></div>      
</body>
    <script type="text/javascript">
        $(document).on('submit','form',function(e){
          e.preventDefault();
      
          $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                text:$('#text').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                // pass
            }
          });
          document.getElementById('text').value = ''
        });
      </script>
</html>
